body{
  background-color: rgb(51, 51, 51);
}

.navbar {
  display: flex;
  gap: 1rem;
  padding: 10px;
  background: #00bcd4;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  margin-inline:30px;
}

.nav-link:hover {
  text-decoration: underline;
}

body{
  background-color: rgb(64, 64, 64);
}

.App {
  text-align: center;
}

.App form h2{
  color: rgb(176, 176, 176);
}

.dashboard-top{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-btn{
  height: 30px;
  margin: 10px;
}

.form-container {
  /* width: 100%; */
  max-width: 1300px; 
  margin: 20px auto; 
  padding: 20px;
  background-color: #212121; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  color: rgb(176, 176, 176);
}

.form-container h2 {
  text-align: center; 
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form input,
.form-container form button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

.form-container form input {
  border-radius: 4px;
  background-color: #343434;
  color: white;
  border: none;
  border-radius: 6px;
}

button {
  background-color:#1e91b0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #1e81b0;
}

.dashboard-btn{
  padding: 8px;
  font-size: 17px;
}

.link{
  color: #799779;
  text-decoration: none;
}


.logout{
  position: relative;
  right: -220px;
  padding: 10px;
  background-color: rgb(208, 38, 38);
}